body {
  width: 100%;
}

/* header styles */
#logo {
  width: 60px;
  height: 60px;
}

header {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid black;
}

/* main styles */
main {
  width: 100%;
  margin: 20px;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  gap: 15px;
  background-color: #210124;
  background-size: cover;
  color: #fefefe;
  padding: 20px;
  height: 400px;
  opacity: 75;
}

.hero {
  background-image: url(imgs/bkgd\ hero.jpg);
  opacity: 0.75;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

#hero > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

label,
input[type="text"] {
  display: block;
}

input[type="submit"] {
  padding: 5px;
}

#hero-header {
  font-size: 60px;
  text-align: center;
  color: #b3dec1;
  text-shadow: 5px 5px 10px black;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

h1,
h2,
h3,
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #750d37;
}

.about-us {
  flex-direction: column;
  display: flex;
  gap: 20px;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-content: start;
}

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
section {
  animation: slideIn 5s ease-in-out;
}

.dog {
  width: 15vw;
  object-fit: scale-down;
}

#cat {
  width: 250px;
  height: 450px;
  object-fit: scale-down;
}

#about-us {
  display: flex;
  margin-top: 10px;
  padding: 30px;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  gap: 20px;
  border-bottom: #750d37 1px solid;
}

#pets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

#helping {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

#help-button {
  background-color: #b3dec1;
  color: #210124;
}

#help-button:hover {
  background-color: #210124;
  color: #b3dec1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-top: 1px solid black;
}

/* gallery styles */
#gallery {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 15px;
}

.container {
  width: 200px;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.container img {
  height: 20vh;
  width: 20vh;
  object-fit: cover;
  object-position: 0% 50%;
  transition: transform 0.6s ease/slow;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: #750d37 solid 1px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  margin: 10px;
}

.info {
  text-align: center;
}

img {
  width: 100%;
}

.resources > h2 {
  text-align: center;
  color: white;
}

/* dashboard styles */
.resources a {
  color: white;
}

.resources a:hover {
  color: #b3dec1;
}

.resources a:active {
  color: #210124;
}

.resources ul {
  margin: 15px;
}

.resources li {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.resources {
  background-color: #750d37;
  color: white;
  width: 50vw;
}

.dash-container {
  display: flex;
}

.new-pets {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 15px;
}

.pet {
  display: flex;
  margin-bottom: 30px;
}

.pet > img {
  width: 200px;
  height: 260px;
  object-fit: cover;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.pet > img:hover {
  transform: scale(1.1) rotate(2deg);
}

.brown-dog {
  object-position: 75%;
}

.pet-info {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .dash-container {
    flex-direction: column;
  }
  .new-pets {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: #210124 solid 1px;
  }
  .resources {
    width: 100%;
    margin-bottom: 20px;
  }
}
